* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  min-width: 375px;
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* Header section */
header {
  justify-content: space-between;
  background-color: #3e3c3c;
  align-items: center;
  padding: 0 2rem;
  color: rgb(255, 255, 255);
  height: 92px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.logo:hover {
  transform: scale(1.2) rotate(360deg);
  color: #f55800;
  transition: 0.2s;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.no-scroll {
  overflow: hidden;
}

.navbar {
  width: 6em;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: rgba(38, 38, 38, 0.9);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 100;
}

.nav-menu.active {
  left: 0;
  background-color: #3c3a39;
  height: 100%;
  display: flex;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  align-items: start;
}

li a {
  color: white !important;
}

.nav-menu a:hover {
  transform: scale(1.2);
  color: #ff9455;
}

div ul li {
  list-style: none;
}

nav ul li {
  list-style: none;
}

nav ul li:hover {
  border: 1px solid #ff6b00;
}

/* introduction section */
.intropage {
  background-color: #1c1a19;
  align-items: flex-start;
  margin: auto;
  padding: 120px 24px;
  gap: 12px;
  position: relative;
  background-image: url("../img/Illustration.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.intro h1 {
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  width: 327px;
  height: 124px;
  font-family: "Crete Round", serif;
  font-style: normal;
  letter-spacing: 0.37px;
}

.nav-menu.active li > a {
  color: #fff5e1;
  font-family: "Inter", sans-serif;
  margin: 16px 0;
}

.nav-item {
  margin: 16px 0;
  padding: 0 16px;
}

.underline {
  width: 90%;
}

.nav-menu.active .touck {
  display: none;
}

.intro h2 {
  width: 327px;
  height: 27px;
  top: 200px;
  left: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  font-style: normal;
  align-items: center;
  letter-spacing: 1.17px;
  padding: 25px 0;
}

.intro p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fffff9;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 123px;
}

.social1 {
  cursor: pointer;
  z-index: 1;
  transition: all 500ms;
}

.social1:hover {
  scale: 1.4;
}

.work {
  display: grid;
  background-color: #e5e5e5;
  padding: 120px 24px;
  gap: 12px;
  align-content: center;
}

#work-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  width: 327px;
  height: 83px;
}

.work-heading {
  font-size: 1em;
}

#work-image {
  margin-top: 60px;
  width: 327px;
  height: 237px;
  background-image: url("../img/Img\ Placeholder1.svg");
  background-size: contain;
}

.work-card {
  height: 400px;
  margin-bottom: 30px;
}

.work-subtitle {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  width: 327px;
  height: 36px;
}

.work-details {
  width: 327px;
  height: 147px;
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.flex-start {
  justify-content: flex-start;
}

.flex-item {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  align-items: center;
  margin-right: 12px;
}

.work-button {
  width: 124px;
  height: 48px;
  background-color: #fd5d01;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3%;
  font-style: normal;
  color: #000001;
  margin-top: 1em;
  transition: all 300ms;
  border: 1px solid rgb(161 58 0);
}

.work-button:hover {
  cursor: pointer;
  background-color: #fff5e1;
  color: rgb(24 12 6);
  scale: 1.05;
  border: 1px solid rgb(161 58 0);
}

.work-button:focus {
  background-color: #e05304;
  color: #120a08;
}

.projects {
  display: grid;
  background-color: #e5e5e5;
  padding: 120px 24px;
  gap: 12px;
  align-content: center;
}

.project-card {
  width: 327px;
  height: 386px;
  position: relative;
  display: grid;
  padding: 120px 24px;
  gap: 12px;
  overflow: hidden;
  align-content: center;
  background-size: contain;
}

.protitle {
  color: white;
  width: 295px;
  height: 81px;
}

.prodetails {
  width: 295px;
  height: 87px;
  color: white;
}

.proitem1 {
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.24);
  transition: scale 500ms, background-color 300ms;
}

.proitem2 {
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.24);
  transition: scale 500ms, background-color 300ms;
}

.proitem3 {
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.24);
  transition: scale 500ms, background-color 300ms;
}

.proitem1:hover,
.proitem2:hover,
.proitem3:hover {
  scale: 1.1;
  background-color: rgba(55, 55, 55, 0.9);
}

.card-text {
  gap: 1em;
}

.probutton {
  position: absolute;
  bottom: 0;
  width: 327px;
  z-index: 1;
}

#bg-pro1 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-3.svg);
  background-size: contain;
}

#bg-pro2 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-2.svg);
  background-size: contain;
}

#bg-pro3 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-1.svg);
  background-size: contain;
}

#bg-pro4 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-3.svg);
  background-size: contain;
}

#bg-pro5 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-2.svg);
  background-size: contain;
}

#bg-pro6 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-1.svg);
  background-size: contain;
}

.popup {
  width: 90%;
  height: 90%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  overflow: scroll;
  padding: 1rem;
}

#popup-title {
  margin-bottom: 40px;
  position: relative;
}

.popup-heading {
  font-family: "Roboto", sans-serif;
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
  width: 311px;
}

.popup-card {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

#popup-image {
  background-image: url(/img/Snapshoot\ Portfolio1.svg);
  background-size: contain;
  width: 311px;
  height: 220px;
  background-repeat: no-repeat;
}

.popup-details {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  width: 311px;
}

.popup-textbtn {
  width: 311px;
}

#see-live,
#see-source {
  display: block;
  margin-right: 20px;
  width: 150px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 0;
}

.close-btn:hover {
  cursor: pointer;
}

.seePopup {
  display: none;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.act {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutme {
  background-color: #1c1a19;
  align-content: center;
  padding: 120px 24px;
  border-bottom: 1px solid white;
  top: calc(50% - 0px / 2 + 0.5px);
  background-image: url("../img/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#me {
  color: #ff6b00;
  font-size: 72px;
  line-height: 88px;
  font-weight: 400;
  width: 327px;
  height: 79px;
  font-family: "Crete Round", serif;
  font-style: normal;
  letter-spacing: 0.37px;
}

#aboutme p {
  color: #f4f5f7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.resumebtn {
  width: 161px;
  height: 48px;
  background-color: #fd5d01;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3%;
  font-style: normal;
  color: #000001;
  margin-top: 1em;
  transition: all 300ms;
  border: 1px solid rgb(161 58 0);
}

.resumebtn:hover {
  cursor: pointer;
  background-color: #fff5e1;
  color: rgb(24 12 6);
  scale: 1.05;
  border: 1px solid rgb(161 58 0);
}

.resumebtn:focus {
  background-color: #e05304;
  color: #120a08;
}

.thumbnail {
  position: relative;
  align-items: center;
}

.rectangle {
  position: absolute;
  background-image: url("../img/Rectangle\ 551.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  top: 7px;
  left: -30px;
}

.square {
  position: absolute;
  background-image: url("../img/Rectangle\ 561.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  top: 7px;
  left: -30px;
}

.circle {
  position: absolute;
  background-image: url("../img/Rectangle\ 571.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  top: 10px;
  left: 10px;
}

#languages {
  background-color: #1c1a19;
  padding: 120px 24px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.headings {
  display: block;
  color: white;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  width: 164px;
  height: 41px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.37px;
  text-align: center;
}

.listitems {
  list-style: none;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  color: white;
  height: 50px;
}

.marginlistitems {
  margin: 20px 0;
}

#getintouch {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-content: center;
  padding: 120px 24px;
}

.intouch {
  color: #172b4d;
  text-align: center;
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 30px;
  font-style: normal;
}

.input {
  margin-top: 25px;
  padding: 12px;
  background-color: white;
  border: none;
  font-family: "Inter", sans-serif;
  width: 327px;
}

#textarea {
  margin-top: 25px;
  padding: 12px;
  background-color: #fbf8f7;
  width: 327px;
  border: none;
  font-family: "Inter", sans-serif;
}

.border {
  border-bottom: 1px solid #e4e4e4;
}

.centerbtn {
  margin-top: 10px;
  width: 327px;
  align-items: center;
  justify-content: center;
}

.getintouchbtn {
  width: 124px;
  height: 48px;
  background-color: #fd5d01;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3%;
  font-style: normal;
  color: #000001;
  margin-top: 1em;
  transition: all 300ms;
  border: 1px solid rgb(161 58 0);
}

.getintouchbtn:hover {
  cursor: pointer;
  background-color: #fff5e1;
  color: rgb(24 12 6);
  scale: 1.05;
  border: 1px solid rgb(161 58 0);
}

.getintouchbtn:focus {
  background-color: #e05304;
  color: #120a08;
}

footer {
  height: 8vh;
}

.footercenter {
  justify-content: center;
  align-items: center;
}

.social {
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  transition: all 500ms;
}

.social:hover {
  scale: 1.4;
}

/* Desktop version */
@media only screen and (min-width: 768px) {
  /* header section in desktop */
  header {
    padding: 0 10rem;
  }

  .logo {
    font-size: 20px;
    line-height: 20px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .disapear {
    display: contents;
  }

  .nav-menu {
    flex-direction: row;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #3e3c3c;
  }

  .nav-menu li {
    list-style: none;
  }

  .nav-menu li a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 12px;
  }

  /* intro section in desktop */
  .intropage {
    background-image: url("../img/Illustration-header1.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }

  .intro {
    width: 35em;
    padding: 2em 8em;
  }

  .intro h1 {
    color: #ff6b00;
    font-size: 72px;
    line-height: 82px;
    font-weight: 400;
    width: 566px;
    height: 160px;
    font-family: "Crete Round", serif;
    font-style: normal;
    letter-spacing: 0.37px;
  }

  .intro h2 {
    width: 566px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff5e1;
    font-style: normal;
    align-items: center;
    padding: 25px 0;
    order: 1;
  }

  .intro p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f6f7;
    font-size: 20px;
    line-height: 32px;
    width: 566px;
    height: 123px;
    order: 2;
  }

  .socialintro ul {
    flex-direction: column;
    align-items: center;
  }

  .socialintro ul li {
    list-style: none;
  }

  .social1 {
    height: 35px;
    width: 35px;
  }

  .socialintro {
    position: absolute;
    left: 2%;
    top: 35%;
  }

  /* work section in desktop */
  .work {
    padding: 120px 152px 0 152px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  #work-title {
    color: #091e42;
    width: auto;
    height: 52px;
    display: flex;
    align-items: center;
    border: none;
    margin-bottom: 100px;
  }

  .line {
    border: 1px solid #212121;
    width: 794px;
    order: 1;
  }

  #work-image {
    margin-top: 0;
    margin-right: 24px;
    width: 643px;
    height: 448px;
    background-image: url("../img/Img\ Placeholder1.svg");
  }

  .work-card {
    display: flex;
    height: 448px;
    margin: 1em;
  }

  .work-subtitle {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    width: 448px;
    height: 48px;
  }

  .work-details {
    width: 448px;
    height: 140px;
    color: #091e42;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 28px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e5e5e5;
    padding: 0 152px 120px 152px;
    gap: 12px;
    align-content: center;
  }

  .project-card {
    width: 369px;
    height: 435px;
    position: relative;
    display: grid;
    padding: 120px 24px;
    gap: 12px;
    align-content: center;
  }

  .project-card:hover {
    cursor: pointer;
  }

  .card-text {
    gap: 1em;
    position: absolute;
    left: 20px;
    bottom: 10px;
  }

  .project-card:hover > .card-text {
    display: none;
  }

  .probutton {
    position: absolute;
    bottom: 0;
    width: 369px;
    z-index: 1;
    display: none;
  }

  .project-card:hover > .probutton {
    display: block;
  }

  #bg-pro1,
  #bg-pro4 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-3.svg);
  }

  #bg-pro1:hover,
  #bg-pro4:hover {
    background: url(../img/Img\ Placeholder1-3.svg);
  }

  #bg-pro2,
  #bg-pro5 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-2.svg);
  }

  #bg-pro2:hover,
  #bg-pro5:hover {
    background: url(../img/Img\ Placeholder1-2.svg);
  }

  #bg-pro3,
  #bg-pro6 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../img/Img\ Placeholder1-1.svg);
  }

  #bg-pro3:hover,
  #bg-pro6:hover {
    background: url(../img/Img\ Placeholder1-1.svg);
  }

  .protitle {
    color: white;
    width: 337px;
    height: 81px;
    font-weight: 400;
    font-family: "Crete Round", serif;
    font-size: 32px;
    line-height: 44px;
  }

  .prodetails {
    width: 337px;
    height: 72px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
  }

  .proitem1 {
    border: none;
    color: white;
    background: rgba(255, 255, 255, 0.24);
  }

  .proitem2 {
    border: none;
    color: white;
    background: rgba(255, 255, 255, 0.24);
  }

  .proitem3 {
    border: none;
    color: white;
    background: rgba(255, 255, 255, 0.24);
  }

  .hide {
    display: none;
  }

  .popup {
    padding: 100px 150px;
  }

  #popup-title {
    margin-bottom: 40px;
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .close-btn:hover {
    cursor: pointer;
  }

  .popup-heading {
    font-family: "Roboto", sans-serif;
    color: #172b4d;
    font-size: 32px;
    line-height: 44px;
  }

  .popup-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  #popup-image {
    background-image: url(/img/Snapshoot\ Portfolio1.svg);
    background-size: contain;
    width: 659px;
    height: 448px;
    background-repeat: no-repeat;
  }

  .popup-details {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    height: 383px;
  }

  #see-live,
  #see-source {
    display: block;
    margin-right: 10px;
  }

  #aboutme {
    position: relative;
    background-color: #1c1a19;
    align-content: center;
    padding: 120px 152px;
    top: calc(50% - 0px / 2 + 0.5px);
    background-image: url("../img/Frame1.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border: none;
  }

  #me {
    color: #f55800;
    font-size: 72px;
    line-height: 82px;
    font-weight: 400;
    width: 566px;
    height: 78px;
    font-family: "Crete Round", serif;
    font-style: normal;
    letter-spacing: 0.37px;
  }

  #aboutme p {
    color: #f4f5f7;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    width: 566px;
    height: 148px;
    font-family: "Inter", sans-serif;
    font-style: normal;
  }

  .aboutme-border {
    position: absolute;
    bottom: 0;
    border: 1px solid white;
    width: 80%;
  }

  /* section languages */
  .thumbnail {
    position: relative;
    align-items: center;
  }

  .rectangle {
    position: absolute;
    background-image: url("../img/Rectangle\ 551.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 7px;
    left: -30px;
  }

  .square {
    position: absolute;
    background-image: url("../img/Rectangle\ 561.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 7px;
    left: -30px;
  }

  .circle {
    position: absolute;
    background-image: url("../img/Rectangle\ 571.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 10px;
    left: 10px;
  }

  #languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1c1a19;
    padding: 120px 24px;
    align-items: start;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .marginlistitems {
    margin: 50px 0;
  }

  .headings {
    display: block;
    color: white;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    width: 228px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    letter-spacing: 0.37px;
    text-align: center;
  }

  .listitems {
    list-style: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 43px;
    font-weight: 400;
    color: white;
    height: 60px;
  }

  #getintouch {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    align-content: center;
    padding: 120px 152px;
  }

  .getintouch-form {
    display: flex;
    flex-direction: column;
  }

  .intouch {
    color: #262626;
    text-align: left;
    width: 455px;
    height: 256px;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    font-style: normal;
  }

  .input {
    padding: 12px;
    background-color: white;
    color: #222221;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 684px;
  }

  #textarea {
    background-color: #fbf8f7;
    color: #3c3a39;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 684px;
  }

  .border {
    border-bottom: 1px solid #dbd8d7;
  }

  .centerbtn {
    margin-top: 10px;
    width: 327px;
    justify-content: flex-start;
  }

  .social {
    cursor: pointer;
    z-index: 1;
    padding: 0;
    margin: 10px;
  }

  .footercenter {
    justify-content: center;
    align-items: center;
    height: 8vh;
  }
}
